#notificationsPage {
  .notifications-loader {
    margin-top: 50px;
  }

  .notifications-list {
    // margin-top: 25px;

    &__item {
      margin: 5px 0;
      padding: 10px;
      border: 1px solid $extra-light-gray;
      border-radius: 2px;
    }
  }
}
