a {
  text-decoration: none;

  &:active {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }

  &:visited {
    text-decoration: none;
  }
}