#adminpage {
  .recent-actions {
    .el-card__body {
      padding: 10px !important;
    }

    &__range-box {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 15px 0 0 0;
      padding: 0;
    }

    &__range-value {
      display: block;
      margin-bottom: 5px;
    }

    &__range[type='range'] {
      display: block;
      -webkit-appearance: none !important;
      background: $light-gray;
      height: 7px;
      outline: none;
    }

    &__range::-webkit-slider-thumb {
      -webkit-appearance: none !important;
      background: $blue;
      cursor: pointer;
      height: 15px;
      width: 15px;
      border-radius: 2px;
    }

    &__title {
      padding: 0;
      margin: 0;
      font-weight: bolder;
      text-align: center;
    }

    .item {
      width: 100%;
      display: flex;
      margin: 5px 0;
      padding: 0 2px;
      overflow-x: scroll;
      color: $black;
      justify-content: flex-start;
      align-items: center;
      border: 1px solid $light-gray;
      background-color: white;
    }

    .text {
      font-size: 12px;
    }
  }

  .users-table,
  .tags-table {
    margin-bottom: 50px;

    span {
      font-size: 12px;
      font-weight: bold;
    }
  }

  .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    &__title {
      padding: 0;
      margin: 0;
      font-weight: bolder;
    }

    &__button {
      &--link {
        a {
          display: block;
          color: white;
        }
      }
    }

    &__search {
      width: 200px;
    }
  }

  .table-controller-btn {
    display: inline-block;
    color: white;
    margin: 0 5px 0 0;
    padding: 2px 9px;
    background-color: $light-blue;
    border-radius: 2px;
  }
}
