.search-box {
  transition: all 0.2s ease-in-out;

  .search {
    padding: 5px;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.04), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    background-color: white;

    input {
      border: none;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    height: 36px;
    color: $light-black;

    &:active,
    &:focus,
    &:visited {
      color: $light-black;
    }

    span {
      display: inline-block;
    }

    &__image {
      margin-right: 10px;

      img {
        width: 20px;
        display: block;
      }
    }
  }

  .el-autocomplete-suggestion {
    margin: 10px -5px;
    padding: 0 5px;
    background-color: white;
  }

  .el-autocomplete {
    width: 100%;

    .el-autocomplete-suggestion__wrap {
      li:hover,
      .highlighted {
        color: $black;
        background-color: $extra-light-gray;
      }
    }
  }
}
